<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Dashboard</strong> & Report Analysis -
              <mat-label class="fw-bold">Last Login: {{ lastLogin }}</mat-label>
            </h2>
          </div>
          <div class="body">
            <div class="text-center">
              <div class="row clearfix">
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-blue">
                    {{ doctorsListing ? doctorsListing.length : 0 }}
                  </h2>
                  <small
                    ><i class="fas fa-arrow-up col-blue"></i> Doctors
                    Registered</small
                  >
                </div>
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-green">
                    {{ active ? active.length : 0 }}
                  </h2>
                  <small>
                    <i class="fas fa-arrow-up col-green"></i> Active
                    Doctors</small
                  >
                </div>
                <div class="col-lg-4 col-md-4">
                  <h2 class="font-25 col-red">
                    {{ inactive ? inactive.length : 0 }}
                  </h2>
                  <small>
                    <i class="fas fa-arrow-down col-red"></i> Inactive
                    Doctors</small
                  >
                </div>
              </div>
            </div>
            <div class="row clearfix" *ngIf="doctorsListing.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Active</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of doctorsListing; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>Dr. {{ item.firstName }}</td>
                    <td>
                      <span class="col-green fw-bold" *ngIf="item.approved"
                        >Active</span
                      >
                      <span class="col-red fw-bold" *ngIf="!item.approved"
                        >InActive</span
                      >
                    </td>
                    <td>
                      <button
                        mat-button
                        [matMenuTriggerFor]="menu"
                        class="header-dropdown"
                      >
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button
                          mat-menu-item
                          (click)="getDocDetails(item._id)"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdropDD"
                        >
                          <mat-icon
                            ><span class="material-symbols-outlined">
                              visibility
                            </span></mat-icon
                          >View Details
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropDD"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Doctor Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <mat-accordion *ngIf="doc">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Personal data </mat-panel-title>
              <mat-panel-description
                >Dr {{ doc.firstName }}
                {{ doc?.lastName }}</mat-panel-description
              >
            </mat-expansion-panel-header>
            <table class="table">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>
                    Dr {{ doc.firstName }} {{ doc?.lastName }} -
                    {{ doc.gender }}
                  </td>
                </tr>

                <tr>
                  <td>Email & Phone No's</td>
                  <td>
                    {{ doc.email }}, Mob#1 - {{ doc.mobile.number }}, Mob#2 -
                    {{ doc.smobile }}
                  </td>
                </tr>
                <tr>
                  <td>DOB & Age</td>
                  <td>{{ dob }}, Age:- {{ doc.age }}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>{{ doc.address }}</td>
                </tr>
                <tr>
                  <td>Aadhaar</td>
                  <td>{{ doc.AadhaarNo }}</td>
                </tr>
                <tr>
                  <td>Blood Group</td>
                  <td>{{ doc.bloodGroup }}</td>
                </tr>
                <tr>
                  <td>Registered Date</td>
                  <td>{{ cdate }}</td>
                </tr>
                <tr>
                  <td>Last login Date</td>
                  <td>{{ ldate }}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Education </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table">
              <tbody>
                <tr>
                  <td>DoctorType</td>
                  <td>{{ doc.graduation.DoctorType?.name }}</td>
                </tr>
                <tr>
                  <td>Overall Exp:</td>
                  <td>{{ doc.graduation.overallExperience }} Years</td>
                </tr>
                <tr *ngIf="doc.graduation.Graduation === 'UG'">
                  <td colspan="2">
                    <span class="fw-bold">UG :</span>
                    {{ doc.graduation.qualificationUG.sName }}<br />
                    <span class="capitalize">
                      College: {{ doc.graduation.CollegeUG }} <br />
                      CompletedYear: {{ doc.graduation.CompletionYearUG }}
                      <br />
                      RegNo: {{ doc.graduation.MedicalRegistrationNoUG }}<br />
                      MedCouncil: {{ doc.graduation.MedicalCouncilNameUG }}
                      <br />
                    </span>
                  </td>
                </tr>

                <tr *ngIf="doc.graduation.Graduation === 'PG'">
                  <td colspan="2">
                    <span class="fw-bold">UG: </span>
                    {{ doc.graduation.qualificationUG.sName }} <br />
                    <span class="capitalize">
                      College: {{ doc.graduation.CollegeUG }} <br />
                      CompletedYear: {{ doc.graduation.CompletionYearUG }}
                      <br />
                      RegNo: {{ doc.graduation.MedicalRegistrationNoUG }}<br />
                      MedCouncil: {{ doc.graduation.MedicalCouncilNameUG
                      }}<br />
                    </span>

                    <span class="fw-bold">PG: </span>
                    {{ doc.graduation.qualificationPG.sName }} - ({{
                      doc.graduation.specialisationPG.name
                    }})<br />
                    <span class="capitalize"
                      >College: {{ doc.graduation.CollegePG }} <br />
                      CompletedYear: {{ doc.graduation.CompletionYearPG }}
                      <br />
                      RegNo: {{ doc.graduation.MedicalRegistrationNoPG }}<br />
                      MedCouncil: {{ doc.graduation.MedicalCouncilNamePG }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Establishment </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table">
              <tbody>
                <tr *ngIf="doc.ClinicOneTimings.active">
                  <td>
                    <ul class="timeslot m-0">
                      <li class="lsstyle">
                        <h3>Clinic 1: {{ doc.ClinicOneTimings.ClinicName }}</h3>
                        <p>
                          <strong>Address:</strong>
                          {{ doc.ClinicOneTimings.ClinicLocation.address }}
                        </p>
                      </li>
                      <li>
                        <h4>
                          ConsultationFees:
                          {{ doc.ClinicOneTimings.ConsultationFeesC1 }}
                        </h4>
                      </li>
                      <li *ngIf="doc.ClinicOneTimings.ComBrStarttime">
                        <h4>
                          BreakTime: {{ doc.ClinicOneTimings.ComBrStarttime }} -
                          {{ doc.ClinicOneTimings.ComBrEndtime }}
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Monday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Monday"
                          >
                            {{ doc.ClinicOneTimings.MonStarttime }} -
                            {{ doc.ClinicOneTimings.MonEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Monday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Tuesday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Tuesday"
                          >
                            {{ doc.ClinicOneTimings.TueStarttime }} -
                            {{ doc.ClinicOneTimings.TueEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Tuesday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Wednesday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Wednesday"
                          >
                            {{ doc.ClinicOneTimings.WedStarttime }} -
                            {{ doc.ClinicOneTimings.WedEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Wednesday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Thursday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Thursday"
                          >
                            {{ doc.ClinicOneTimings.ThuStarttime }} -
                            {{ doc.ClinicOneTimings.ThuEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Thursday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Friday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Friday"
                          >
                            {{ doc.ClinicOneTimings.FriStarttime }} -
                            {{ doc.ClinicOneTimings.FriEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Friday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Saturday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Saturday"
                          >
                            {{ doc.ClinicOneTimings.SatStarttime }} -
                            {{ doc.ClinicOneTimings.SatEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Saturday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Sunday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicOneTimings.Sunday"
                          >
                            {{ doc.ClinicOneTimings.SunStarttime }} -
                            {{ doc.ClinicOneTimings.SunEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicOneTimings.Sunday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="doc.ClinicTwoTimings.active">
                  <td>
                    <ul
                      class="timeslot m-0"
                      *ngIf="doc.ClinicTwoTimings.active"
                    >
                      <li class="lsstyle">
                        <h3>Clinic 2: {{ doc.ClinicTwoTimings.ClinicName }}</h3>
                        <p>
                          <strong>Address:</strong>
                          {{ doc.ClinicTwoTimings.ClinicLocation.address }}
                        </p>
                      </li>
                      <li>
                        <h4>
                          ConsultationFees:
                          {{ doc.ClinicTwoTimings.ConsultationFeesC1 }}
                        </h4>
                      </li>
                      <li *ngIf="doc.ClinicTwoTimings.ComBrStarttime">
                        <h4>
                          BreakTime: {{ doc.ClinicTwoTimings.ComBrStarttime }} -
                          {{ doc.ClinicTwoTimings.ComBrEndtime }}
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Monday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Monday"
                          >
                            {{ doc.ClinicTwoTimings.MonStarttime }} -
                            {{ doc.ClinicTwoTimings.MonEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Monday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Tuesday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Tuesday"
                          >
                            {{ doc.ClinicTwoTimings.TueStarttime }} -
                            {{ doc.ClinicTwoTimings.TueEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Tuesday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Wednesday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Wednesday"
                          >
                            {{ doc.ClinicTwoTimings.WedStarttime }} -
                            {{ doc.ClinicTwoTimings.WedEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Wednesday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Thursday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Thursday"
                          >
                            {{ doc.ClinicTwoTimings.ThuStarttime }} -
                            {{ doc.ClinicTwoTimings.ThuEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Thursday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Friday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Friday"
                          >
                            {{ doc.ClinicTwoTimings.FriStarttime }} -
                            {{ doc.ClinicTwoTimings.FriEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Friday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Saturday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Saturday"
                          >
                            {{ doc.ClinicTwoTimings.SatStarttime }} -
                            {{ doc.ClinicTwoTimings.SatEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Saturday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                      <li>
                        <h4>
                          Sunday:
                          <span
                            class="timings"
                            *ngIf="doc.ClinicTwoTimings.Sunday"
                          >
                            {{ doc.ClinicTwoTimings.SunStarttime }} -
                            {{ doc.ClinicTwoTimings.SunEndtime }}
                          </span>
                          <span
                            class="timings2"
                            *ngIf="!doc.ClinicTwoTimings.Sunday"
                          >
                            Holiday
                          </span>
                        </h4>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="doc.services">
                  <h5>About Doctor & Services</h5>
                  {{
                    doc.services
                  }}
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Documents</mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table">
              <tbody>
                <tr>
                  <td>DP</td>
                  <td>
                    <img
                      [src]="doc.image?.imageUrl"
                      alt="DP"
                      class="img-thumbnail"
                      width="70"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Aadhaar</td>
                  <td>
                    <a
                      *ngIf="doc.doc1?.docUrl"
                      href="{{ doc.doc1.docUrl }}"
                      class="img-thumbnail font12"
                      target="_blank"
                      >{{ doc.doc1.docName }}</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Medical Degree Certificate</td>
                  <td>
                    <a
                      *ngIf="doc.doc2?.docUrl"
                      href="{{ doc.doc2.docUrl }}"
                      class="img-thumbnail font12"
                      target="_blank"
                      >{{ doc.doc2.docName }}</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Appointments</mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngIf="appClinic1 || appClinic2">
              <span *ngIf="appClinic1">
                <b>Clinic1 Appointments</b>: {{ getAppointments.length }}
              </span>
              <span *ngIf="appClinic2">
                <b>Clinic2 Appointments</b>: {{ getAppointments2.length }}
              </span>
              <span *ngIf="appClinic1 && appClinic2">
                <b>Total Appointments</b>:
                {{ getAppointments.length + getAppointments2.length }}
              </span>
            </p>
            <span *ngIf="doc.ClinicOneTimings.active">
              <button
                type="button"
                class="btn btn-primary"
                (click)="getAllDoctorAppoinmentsById(doc._id, 'Clinic1')"
              >
                Get Clinic1 Appointments
              </button>
              <table class="table" *ngIf="appClinic1">
                <tbody>
                  <tr>
                    <td>Clinic1 Appointments</td>
                    <td>
                      {{ getAppointments.length }}
                    </td>
                  </tr>
                  <tr>
                    <td>Ongoing</td>
                    <td>
                      {{ pending.length }}
                    </td>
                  </tr>
                  <tr>
                    <td>Closed</td>
                    <td>
                      {{ closed.length }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </span>
            <span *ngIf="doc.ClinicTwoTimings.active">
              &nbsp;&nbsp;&nbsp;&nbsp;<button
                type="button"
                class="btn btn-primary"
                (click)="getAllDoctorAppoinmentsById2(doc._id, 'Clinic2')"
              >
                Get Clinic2 Appointments
              </button>
              <table class="table" *ngIf="appClinic2">
                <tbody>
                  <tr>
                    <td>Clinic2 Appointments</td>
                    <td>
                      {{ getAppointments2.length }}
                    </td>
                  </tr>
                  <tr>
                    <td>Ongoing</td>
                    <td>
                      {{ pending2.length }}
                    </td>
                  </tr>
                  <tr>
                    <td>Closed</td>
                    <td>
                      {{ closed2.length }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </span>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Activate/Deactivate</mat-panel-title>
            </mat-expansion-panel-header>

            <button
              *ngIf="doc.approved"
              type="button"
              class="btn btn-danger"
              (click)="deactivateDoctor(doc._id, false)"
            >
              Deactivate this Doctor
            </button>

            <button
              *ngIf="!doc.approved"
              type="button"
              class="btn btn-success"
              (click)="deactivateDoctor(doc._id, true)"
            >
              Activate this Doctor
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          #close
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
