<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong><mat-icon> medication </mat-icon> Manage Doctors</strong>
            </h2>
            <!-- <div class="row"></div> -->
          </div>
          <div class="body">
            <div class="row clearfix">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">
                      #
                      <button
                        mat-raised-button
                        color="primary"
                        matBadge="{{ doctorsListing.length }}"
                        matBadgePosition="before"
                        matBadgeColor="accent"
                        class="dFBtn"
                      >
                        Doctors Found
                      </button>
                    </th>
                    <th scope="col">First Name</th>
                    <th scope="col">Active</th>
                    <th scope="col">
                      Action
                      <span class="float-end">
                        <button
                          mat-raised-button
                          class="matbutton"
                          color="primary"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdropMD"
                        >
                          <mat-icon matPrefix class="form-icon"
                            >note_add</mat-icon
                          >
                          Add Doctor
                        </button>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of doctorsListing; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td class="DocName">Dr. {{ item.firstName }}</td>
                    <td>
                      <span class="col-green fw-bold" *ngIf="item.approved"
                        >Active</span
                      >
                      <span class="col-red fw-bold" *ngIf="!item.approved"
                        >InActive</span
                      >
                    </td>
                    <td>
                      <button
                        mat-button
                        [matMenuTriggerFor]="menu"
                        class="header-dropdown"
                      >
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="setDocDetails(item)">
                          <mat-icon>edit</mat-icon>Edit
                        </button>
                        <button mat-menu-item (click)="setViewDocDetails(item)">
                          <mat-icon>visibility</mat-icon>View
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="staticBackdropMD"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register Doctor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="reset()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label
            >Doctor First Name
            <mat-error class="mobno"> (Do not include Dr.)</mat-error></label
          >
          <div class="form-group auth-form-group mb-4">
            <mat-icon matSuffix class="auth-page-icon">face</mat-icon>
            <input
              type="text"
              autocomplete="off"
              formControlName="firstName"
              class="form-control auth-control"
              id="firstName"
              placeholder="First Name"
              minlength="3"
              maxlength="50"
              [ngClass]="{
                'is-invalid': submitted && f.firstName.errors
              }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">Name is required</div>
              <div *ngIf="f.firstName.errors.pattern">
                Nos & Special characters is not allowed
              </div>
            </div>
          </div>
          <label>Email</label>
          <div class="form-group auth-form-group mb-4">
            <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
            <input
              type="email"
              autocomplete="off"
              formControlName="email"
              maxlength="200"
              class="form-control auth-control"
              id="email"
              placeholder="Email"
              [ngClass]="{
                'is-invalid': submitted && f.email.errors
              }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <label
            >Mobile
            <mat-error class="mobno">
              (Enter 10 digit no. +91 is not mandatory)</mat-error
            ></label
          >
          <div class="form-group auth-form-group mb-4">
            <mat-icon matSuffix class="auth-page-icon">phone</mat-icon>
            <input
              type="text"
              formControlName="mobile"
              class="form-control auth-control"
              [ngClass]="{
                'is-invalid': submitted && f.mobile.errors
              }"
              placeholder="Mobile No"
              maxlength="10"
            />

            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile no is required</div>
              <div *ngIf="f.mobile.errors.pattern">Invalid mobile no...</div>
              <div *ngIf="f.mobile.minLength">Enter 10 digit number...</div>
            </div>
          </div>
          <label>Password</label>
          <div class="form-group auth-form-group mb-4">
            <mat-icon
              matSuffix
              class="auth-page-icon"
              (click)="togglePasswordVisibility()"
              >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
            >
            <input
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="off"
              formControlName="password"
              maxlength="15"
              class="form-control auth-control"
              id="password"
              [ngClass]="{
                'is-invalid': submitted && f.password.errors
              }"
              placeholder="Password"
            />

            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <label>Confirm Password</label>
          <div class="form-group auth-form-group mb-4">
            <mat-icon
              matSuffix
              class="auth-page-icon"
              (click)="togglePasswordVisibility()"
              >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
            >
            <input
              [type]="showPassword ? 'text' : 'password'"
              autocomplete="off"
              formControlName="confirmPassword"
              class="form-control auth-control"
              id="confirmPassword"
              maxlength="15"
              [ngClass]="{
                'is-invalid': submitted && f.confirmPassword.errors
              }"
              placeholder="Confirm Password"
            />
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>

          <div class="container-login100-form-btn">
            <button
              mat-raised-button
              color="primary"
              class="login100-form-btn"
              type="submit"
            >
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          #closeMD
          data-bs-dismiss="modal"
          (click)="reset()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
